/* .App-card {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    margin: 10px;
    row-gap: 10px;
    column-gap: 10px;
    flex-direction: row;
    justify-content: flex;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.InfiniteScroll {
    /* height: 400px;
    width: 400px;
    padding: 10px;
} */